@import '~@sweetalert2/theme-borderless/borderless.scss';

.modal {
   position: fixed;
   z-index: 500;
   width: 100%;
   top:  0;
   left: 0;
   color: #fff;
   height: 80%;
   opacity: 0;
   box-shadow: 0 1.5rem 4rem rgba($color-dark, .15);

   /* @include responsive(tab_port) {
      height: 60rem;
   } */

   /* @include responsive(phone) {
      height: 58rem;
   } */

   &__container {
      background: linear-gradient(90deg, #000 50%, transparent);
      width: 70%;
      padding-top: 3rem;
      height: 100%;
      padding-left: 5rem;

      @include responsive(tab_port) {
         background: linear-gradient(90deg, rgb(0, 0, 0) 55%, rgba(0, 0, 0, 0.733), transparent);
         width: 88%;
      }

      @include responsive(tab_medium) {
         background: linear-gradient(90deg, rgba(0, 0, 0, 0.966) 65%, transparent);
         width: 100%;
      }

      @include responsive(phone) {
         padding-top: 1rem;
         padding-left: 1rem;
      }
   }

   &__title {
      font-size: 4rem;
   }

   &__date {
      font-size: 2rem;
      color: $color-red;
   }

   &__runtime {
      font-size: 2rem;
      color: rgb(172, 171, 171);
   }

   &__tagline {
      color: $color-modal-grey;
      font-size: 1.9rem;
      padding-bottom: 0.4rem;
   }

   &__rating {
      padding-top: 1.6rem;
      font-size: 2rem;
      color: $color-green-modal;
   }

   &__info {
      padding-top: 0.5rem;
      font-size: 2rem;

      @include responsive(phone) {
         padding-top: 1.2rem;
      }
   }

   &__episode {
      padding-top: .5rem;
      font-size: 2rem;
   }

   &__overview {
      color: $color-modal-grey-2;
      padding-top: 2rem;
      font-size: 2rem;
      hyphens: auto;
      max-width: 40vw;
      width: 60%;
      line-height: 1.2;

      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      @include responsive(lg_desktop) {
         width: 60%;
         font-size: 1.8rem;
      }

      @include responsive(tab_port) {
         width: 80%;
      }

      @include responsive(tab_medium) {
         width: 95%;
         color: rgba(255, 255, 255, 0.877);
      }
      @include responsive(phone) {
         padding-top: 1rem;
         font-size: 1.7rem;
      }
   }

   &__btn {
      pointer-events: auto !important;
      text-transform: uppercase;
      font-weight: 500;
      cursor: pointer;
      background-color: transparent;
      color: #fff;
      border: .5px solid $color-modal-grey-2;
      border-radius: 2px;
      font-size: 1.5rem;
      margin-top: 2rem;
      margin-right: 1rem;
      padding: 1rem 2rem 1rem 2rem;
      transition: all .2s;

      @include responsive(phone) {
         margin-top: 1rem;
      }

      &:focus {
         outline: 2px thin;
      }

      &:hover {
         transform: scale(1.09);
      }

      &--red {
         background-color: $color-red-2;
         border: none;
      }

      &--icon {
         fill: #fff;
         padding-right: 1rem;
         height: 1.4rem;
         width: 1.4rem;
      }
   }

   &__sources {
      padding-top: 2.5rem;
      & > h3 {
         font-size: 2.7rem;
      }

      &--play_btn {
         background-color: $color-red-2;
         margin-top: 0;
         margin-right: 0;
         border: none;
         border-radius: 7px;
         padding: 1.2rem 2rem 1.2rem 2rem;
      }

      &--loading {
         padding-top: 1.5rem;
         /* font-size: 1.6rem; */
      }

      &--pull {
         margin-top: -15px;
      }

      &--list {
         margin-top: 30px;
         margin-left: -4px;
         width: 80%;
         border-radius: 15px;
         overflow: hidden;
         background-clip: padding-box;
         -moz-background-clip: padding;
         -webkit-background-clip: padding;
         background: linear-gradient(to right, rgba(#25c481, 0.45), rgba(#25b7c4, 0.45));
         &__source {
            &--name {
               /* */
            }
            &--title {
               /* width: 20px; */
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
            }
         }
      }
   }
}

.tbl-header {
   background-color: rgba(255,255,255,0.3);
}
.tbl-content {
   height:300px;
   overflow-x:auto;
   margin-top: 0px;
   border: 1px solid rgba(255,255,255,0.3);
}
.tbl-table {
   width: 100%;
   table-layout: fixed;
}
.header-th {
   padding: 15px 15px;
   text-align: left;
   font-weight: 500;
   font-size: 1.9rem;
   color: #fff;
   text-transform: uppercase;
}
.content-td {
   padding: 15px;
   text-align: left;
   vertical-align:middle;
   font-weight: 300;
   font-size: 1.6rem;
   color: #fff;
   border-bottom: solid 1px rgba(255,255,255,0.1);
}

.show {
   transition: .5s .3s ease-out;
   top: 10%;
   left: 0;
   visibility: visible;
   opacity: 1;

   animation: fadein 0.5s ease-in;
   -moz-animation: fadein 0.5s ease-in;
   /* Firefox */
   -webkit-animation: fadein 0.5s ease-in;
   /* Safari and Chrome */
   -o-animation: fadein 0.5s ease-in;
   /* Opera */
}

.hide {
    visibility: hidden;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.source-loader {
  position: relative;
  width: 50px;
  /* margin: 100px auto; */
}

.duo {
  height: 12px;
  width: 31px;
  background: hsla(0, 0%, 0%, 0.0);
  position: absolute;

}

.duo, .dot {
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.duo1 {
  left: 0;
}

.duo2 {
  left: 19px
}


.dot {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #ee7752;/* , #e73c7e, #23a6d5, #23d5ab); */
  position: absolute;
}

.dot-a {
  left: 0px;
}

.dot-b {
  right: 0px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
   50% { transform: rotate(180deg); }
  100% { transform: rotate(180deg); }
}

@keyframes onOff {
    0% { opacity: 0; }
   49% { opacity: 0; }
   50% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes bgmove {
  from {background-color: #ee7752;}
  to {background-color: #e73c7e;}
}

.duo1 {
  animation-name: spin;
}

.duo2 {
  animation-name: spin;
  animation-direction: reverse;
}

.duo2 .dot-b {
  animation-name: onOff;
}

.duo1 .dot-a {
  opacity: 0;
  animation-name: onOff;
  animation-direction: reverse;
}

.swal-bigger {
   font-size: 2rem;
}
