.movieShowcase {
   background-color: $color-background;
   grid-column: 1 / 13;
   color: #fff;

   &__heading {
      padding-top: 2rem;
      margin-left: 1rem;
      text-transform: uppercase;
      margin-bottom: -1rem;
   }

   &__container::-webkit-scrollbar {
      display: none;
   }

   &__container {
      scrollbar-width: none;
      transition: transform 450ms;
      overflow: -moz-hidden-unscrollable;
      overflow-x: scroll;
      overflow-y: hidden;
      display: flex;
      width: 100vw;
      overflow: -moz-scrollbars-horizontal;
      grid-template-columns: repeat(20, 1fr);
      column-gap: 0;

      @include responsive(phone) {
         width: 98vw;
      }


      &:hover &--movie {
         opacity: .3;

         &:hover {
            transform: scale(1.5);
            opacity: 1;
         }
      }

      &:hover > &--movie  {
         transform: translate3d(-7rem, 0, 0);

         @include responsive(tab_port) {
            transform: translate3d(-5.75rem, 0, 0);
         }

         @include responsive(phone) {
            transform: translate3d(-3rem, 0, 0);
         }
      }

      &--movie:hover ~ &--movie {
          transform: translate3d(7rem, 0, 0);

         @include responsive(tab_port) {
            transform: translate3d(5.75rem, 0, 0);
         }

         @include responsive(phone) {
            transform: translate3d(3rem, 0, 0);
         }
      }


      &:hover > &--movie__netflix  {
         transform: translate3d(-1rem, 0, 0);
      }

      &--movie__netflix:hover ~ &--movie__netflix {
          transform: translate3d(1rem, 0, 0);
      }

      &:hover &--movie__netflix {
         opacity: .3;

         &:hover {
            transform: scale(1.1);
            opacity: 1;
         }
      }

      &--movie {
         cursor: pointer;
         transition: all 450ms;
         transform: center left;
         padding-top: 3.5rem;
         padding-bottom: 4rem;
         height: 24.25rem;
         min-height: 0;

         @include responsive(tab_port) {
            height: 20.5rem;
         }

         @include responsive(phone) {
            height: 17.5rem;
         }

         &-image {
            height: 100%;
            /* width: 300px; */
         }

         &__netflix {
            min-height: 0;
            padding-top: 3rem;
            padding-bottom: 4rem;
            padding-right: 0.5rem;
            height: 52rem;
            cursor: pointer;
            transition: all 450ms;
            transform: center left;

            &:hover .movieShowcase__container--movie-image {
               /* transition: opacity 0.62s, ease 1s; */
               opacity: 0.45 !important;
            }

            &:hover &__reveal--text {
               visibility: visible !important;
               /* transition: opacity 0.62s, ease 1s; */
               opacity: 1 !important;
            }

            @include responsive(tab_port) {
               height: 42rem;
            }
            @include responsive(phone) {
               height: 34rem;
            }
         }

         &:hover &-image {
            transition: opacity 0.62s, ease 1s;
            opacity: 0.70 !important;
         }

         &:hover &__reveal--text {
            visibility: visible !important;
            opacity: 1 !important;
         }

         &__reveal, &__netflix__reveal {
            position: relative;

            &--text {
               position: absolute;
               bottom: 24%;
               margin-bottom: 1rem;
               left: 4%;
               right: 4%;
               color: #fff;
               visibility: hidden;
               opacity: 0;
               transition: opacity 0.7s;
               font-size: 10px;
               /* text-shadow: 3px 3px 4px black; */
               /* font-family: helvetica; */

               @media screen and (max-width: 800px) {
                 display: none;
               }

               &__title {
                  color: white;
                  font-size: 1.6rem;

                  @media screen and (max-width: 800px) {
                    font-size: 1.3rem;
                  }
               }

               &__desc {
                  padding-top: 0.4rem;
                  color: white;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-size: 1.1rem;

                  @media screen and (max-width: 800px) {
                    font-size: 0.9rem;
                  }
               }
            }
         }

         &__netflix__reveal--text {
            margin-bottom: 2rem;
            &__title {
               font-size: 2.6rem;
            }

            &__desc {
               padding-top: 1rem;
               font-size: 1.6rem;
            }
         }
      }
   }

   &__flex {
      position: relative;
      user-select: none;
   }

   &__left-arrow,
   &__right-arrow {
      display: inline-block;
      position: absolute;
      top: 45%;
      /* top: 10.25rem; */
      mix-blend-mode: difference;
      /* display: block; */

      font-size: 2.5rem;
      z-index: 100;
      opacity: 1;
      color: white;
      transition: all 0.15s ease-out;

      &:hover {
         mix-blend-mode: normal;
         transform: scale(1.2);
      }

      @include responsive(phone) {
         visibility: hidden;
         -webkit-visibility: hidden;
      }
   }

   &__left-arrow {
      left: 0%;
   }

   &__right-arrow {
      right: 0%;
   }

   &__left-arrow-icon,
   &__right-arrow-icon {
      z-index: 100;
      width: 16px;
      cursor: pointer;

      &:hover {
         font-size: 3rem;
         color: white;
         transition: all 0.2s ease;
      }
   }
}

